# 평활화(Smoothing)
- 데이터의 불필요한 요동(잡음)을 줄여서 전반적인 흐름(추세)을 보기 쉽게 만드는 기법
- 시계열 데이터 분석에서 하루하루의 수치가 너무 들쑥날쑥하면, 전체 흐름을 보기 어려움
- 주식 가격, 방문자 수, 매출 변화 등 들쑥날쑦한 값을 부드럽게 만들어주는 것

## 평활화 방법
- 다순 이동 평균(SMA) : 일정 구간의 평균을 계산
- 지수 이동 평균(EMA) : 최신 데이터에 더 많은 가중치 부여
- 가우시안 스무딩 등 : 통계 기반 부드러운 곡선 적용

In [1]:
# 단순 이동 평균(SMA)

import pandas as pd

df = pd.DataFrame({
    'date': pd.date_range(start='2024-01-01', periods=10, freq='D'),
    'sales': [100, 120, 130, 90, 80, 110, 105, 95, 115, 125]
})


df['SMA_3'] = df['sales'].rolling(window=3).mean()

df

        date  sales       SMA_3
0 2024-01-01    100         NaN
1 2024-01-02    120         NaN
2 2024-01-03    130  116.666667
3 2024-01-04     90  113.333333
4 2024-01-05     80  100.000000
5 2024-01-06    110   93.333333
6 2024-01-07    105   98.333333
7 2024-01-08     95  103.333333
8 2024-01-09    115  105.000000
9 2024-01-10    125  111.666667

In [ ]:
# 지수 이동 평균(EMA)
## ewm : Exponential Weighted Moving Average

import pandas as pd

df['EMA_3'] = df['sales'].ewm(span=3, adjust=False).mean()

df

        date  sales       SMA_3       EMA_3
0 2024-01-01    100         NaN  100.000000
1 2024-01-02    120         NaN  110.000000
2 2024-01-03    130  116.666667  120.000000
3 2024-01-04     90  113.333333  105.000000
4 2024-01-05     80  100.000000   92.500000
5 2024-01-06    110   93.333333  101.250000
6 2024-01-07    105   98.333333  103.125000
7 2024-01-08     95  103.333333   99.062500
8 2024-01-09    115  105.000000  107.031250
9 2024-01-10    125  111.666667  116.015625